//variables
$color-NFTs:linear-gradient(rgb(0, 0, 0),rgb(177, 235, 61));
$color-principal-letra: white;
$alineacion-texto: center;
$color-violeta:rgb(180, 100, 255);
$color-verde:rgb(123, 255, 47);
$font-titulo:'Splash', cursive;
$font-robot:'Orbitron', sans-serif;
$color-negro:black;




//MAPA
$estilos:(
	position: left,
	size: 30px,
);

//MIXIN
@mixin sizes($width, $height){
	height:$height;
	width:$width;
}


                                                                 





/*links/menu*/
a{
    text-decoration: none;
    color:$color-principal-letra;
}
/*header*/
header{
    display: flex;
    min-height: 70px;
    justify-content:space-between;
    align-items:$alineacion-texto;
    padding: 10px;
    
}
.logo{
    display: flex;
    align-items: $alineacion-texto;
}

.logo img{
    height: 60px;
}

.nav-link{
    color:$color-principal-letra;
}
.nav-link:hover{
    color: rgb(198, 107, 221);
}
.nombre-empresa{
    font-family: $font-titulo;
    color:$color-verde;
    letter-spacing: 3px;
    align-items: $alineacion-texto;
    margin-top: 20px;
}



//INDEX
body{
    /*imagen fondo*/
    background: url(../paginas/img/cosito\ del\ coso.jpg) no-repeat center fixed;
    background-size:cover; 
    font-family:$font-robot;
    margin: 0;
    border:$color-negro;
}
.contenedorINDEX{
    display: map-get($map: $estilos, $key: position);
    flex-direction: column;
}
.CentrarTextoUP{
    text-align:map-get($map: $estilos, $key: position);
    color:$color-principal-letra;
    margin-top: 0;
    margin-left: 10px;
    font-size: 60px;

}

.CentrarTextoMIDDLE{
    text-align: $alineacion-texto;
    color:$color-verde;
    margin-top: 460px;
    font-family: $font-titulo;
    letter-spacing: 3px;
   
}

.tituloINDEX{
    font-size: 100px;
    margin: 0%;
}
.TextoMovil{
    color:$color-violeta;
    font-size: 40px;
    font-family: $font-robot;
    margin-top:13px;
}




//QUIENES SOMOS?
.fondoQUIENESSOMOS{
    background-image: url(../paginas/img/photo-1533174072545-7a4b6ad7a6c3.avif);
    background-size:auto;
    background-repeat: no-repeat;   
 }
 .contenedorQS{
     display: flex;
     flex-direction:column;
     margin: 10px;
 }
 .titulo1QS{
     text-align:$alineacion-texto;
     color:$color-principal-letra;
     margin-top: 10px;
     margin-bottom: 0%;
     font-size: 35px;
 }
 
 .titulo2QS{
     text-align:$alineacion-texto;
     color:$color-verde;
     font-size: 60px;
     margin-bottom: 0%;
 }
 
 .texto1QS{
     text-align: $alineacion-texto;
     color:$color-principal-letra;
     font-size: 26px;
     margin: 0%;
 }
 
 .Parrafo1QS{
     text-align:$alineacion-texto;
     color:$color-verde;
     font-size: 29px;
     margin-left: 0px;
     margin-right: 0px;
 }
 
 .titulo3QS{
     text-align:$alineacion-texto;
     color:$color-violeta;
     font-size: 30px;
     margin-top: 1%;
 }








//PROXIMOS EVENTOS
.FondoProximosEventos{
    background-image: url(../paginas/img/cosaaaaaaaaaaa.jpg);
    background-size:auto;
    background-color:$color-negro; 
    background-position: 100%;
}
.contenedorPE{
    display: grid;
    grid-template-columns: 60% 10%;
    margin-left:map-get($map: $estilos, $key: size );
    margin-right: map-get($map: $estilos, $key: size );
    margin-top: 20px;

}


.h1PE{
    font-family: $font-titulo;
    letter-spacing: 6px;
    text-align:$alineacion-texto;
    color:$color-violeta;
    font-size: 40px;
}

.h2PE{
    font-family:$font-robot;
    text-align: $alineacion-texto;
    color:$color-verde;
    font-size: map-get($map: $estilos, $key: size );
}

.Parrafo1PE{
    font-family:$font-robot;
    word-spacing: 3px;
    text-align: map-get($map: $estilos, $key: position);
    color:$color-principal-letra;
    font-size: 20px;
}

.h3PE{
    font-family:$font-robot;
    text-align: $alineacion-texto;
    color:$color-verde;
    font-size: map-get($map: $estilos, $key: size );
}

.Parrafo2PE{
   @extend .Parrafo1PE;
}

.h4PE{
    font-family:$font-titulo;
    letter-spacing: 2px;
    text-align:$alineacion-texto;
    color:$color-violeta;
    font-size: 40px;
}

.h5PE{
    font-family:$font-robot;
    text-align:$alineacion-texto;
    color:$color-verde;
    font-size: map-get($map: $estilos, $key: size );
}


.Parrafo3PE{
    @extend .Parrafo1PE;
}

.h6PE{
    font-family:$font-robot;
    text-align:$alineacion-texto;
    color:$color-verde;
    font-size: map-get($map: $estilos, $key: size );
}

.Parrafo4PE{
    @extend .Parrafo1PE;
}


.h7PE{
    color:$color-violeta;
    font-size: 40px;
}
.contenedorPoliticas{
    display: grid;
    grid-template-columns: 60%;
    margin-left: map-get($map: $estilos, $key: size );
    margin-right: map-get($map: $estilos, $key: size );
    margin-top: 20px;

}
.PoliticaEventos{
    text-align: map-get($map: $estilos, $key: position);
    color:$color-principal-letra;
    font-size: 20px;
}

.comentario{
    text-align: map-get($map: $estilos, $key: position);
    color: $color-principal-letra;
    font-size: 15px;
    text-transform: uppercase;
}

.boludez{
    color:$color-verde;
    font-size: map-get($map: $estilos, $key: size );
}






//NFTs
.FondoNFTs{
    background: $color-negro;   
}

.Texto1NFTs{
    color: $color-principal-letra;
    font-size: 60px;
    text-align: $alineacion-texto;
    margin-top: 10px;
}
.Texto2NFTs{
    color:$color-violeta;
    font-size: 40px;
    text-align:$alineacion-texto;
}
.contenedorNFTs{
    color:$color-principal-letra;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    
}
.contenedorPersonajes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    margin-top: map-get($map: $estilos, $key: size );
    gap: 10px;
}
.PersonajesNFTs{
    @include sizes(220px, 330px);
    box-shadow:0 0 20px 0  $color-verde;
    border-radius: 10px;
    padding: 0px;
    transform: 10s;

}
.PersonajesNFTs:hover{
    box-shadow: 0 0 50px 0 $color-verde;
}
.Texto3NFTs{
    color:$color-principal-letra;
    font-size: 60px;
    text-align:map-get($map: $estilos, $key: position);
    margin-right: 20px;
   
}
.titulo4{
    color:$color-violeta;
    font-size: 90px;
}





//MERCH
.FondoMerch{
    background: $color-negro;
}


.contenedorMERCH{
    display: grid;
    grid-template-columns:auto; 
    margin: 10px;

}
.Texto1Merch{
    text-align:map-get($map: $estilos, $key: position);
    color:$color-principal-letra;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 40px;
}

.Texto2Merch{
    text-align: end;
    color:$color-violeta;
    margin-right: 10px;
}


.bordes{
    border-radius: 10px;
    @include sizes(234px, 292px);
    transform: 1s;
}
.bordes:hover{
    width: 240px;
    height: 300px;
}
.RedesSociales{
    margin-left: 10px;
    height: 5px;
}








//REGISTRATE
.FondoRegistro{
    background: url(../paginas/img/1e061884492503.5d5e7527614cf.png);
    background-size:1274px 890px;
    background-repeat: no-repeat; 
 }

 .REGISTROS{
    height: 650px;
    display: flex;
    justify-content: $alineacion-texto;
    align-items:$alineacion-texto;
    margin-bottom: 70px;
 }

 .h1REGISTROS{
    text-align: $alineacion-texto;
    font-weight: 700;
 }

 Form{
    background: $color-principal-letra;
    padding: 40px 0;
    box-shadow: 0 0 10px 0 $color-verde;
    border-radius: 10px;
 }

 .form{
    width: 100%;
    margin:auto;
    
 }

 form .grupo{
    position: relative;
    margin: 45px;

 }

input{
    background: none;
    color:$color-negro;
    font-size:18px;
    padding: 10px 10px 10px 5px;
    display:block;
    width: 100%;
    border:none;
    border-bottom: 1px solid color $color-violeta;
    
}


input:focus{
    outline-color: $color-principal-letra;
    color:#555555
}

label{
    color:lightgray;
    font-size: 16px;
    position:absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color:$color-violeta;
}
.barra{
    position:relative;
    display: block;
    width: 100%;
}


.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right,$color-violeta, $color-verde);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}
.enviar{
    font-family: 'roboto';
    background: linear-gradient(to right,$color-violeta, $color-verde);
    border:none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: $color-principal-letra;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}






//RESPONSIVE
@media (max-width:576px){
    /*Estilos Generales*/
    header{
        flex-direction: column;
        padding: 5px; 
    }
    nav a{
        padding-right: 6px;
        
    }
    ul li{
        font-size: 12px;
    }
    /*INDEX*/
    .CentrarTextoUP{
        font-size: 50px;
    }
    .CentrarTextoMIDDLE{
        margin-top: 150px;
    }
    .tituloINDEX{
        font-size: 80px;
        letter-spacing: 10px;
        }
    

    /*"Quienes Somos?" se queda asi*/


    /*Proximos Eventos*/
    .contenedorPE{
        height: 2500px;
        
    }
    .contenedorEVENTOS{
        height: 2400px;
        width: 515px;
    
    } 
    .h4PE{
        letter-spacing: 0px;
        font-size: 35px;

    }
    .boludez{
        font-size: 22px;
        
    }

    .contenedorPoliticas{
        grid-template-columns: auto;
    }

    /*NFT's*/

    .contenedorNFTs{
        grid-template-columns: auto;
        margin-left: 30px;
        margin-right: 5px;
        
    }
    .contenedorPersonajes{
        grid-template-columns: 1fr 1fr ;
        margin: 0%;
        margin-left: 6px;
        
    }
    .Texto3NFTs{
        margin: 0%;
        font-size: 30px;
    }
    .titulo4{
        font-size: 50px;
        
    }


    /*MERCH*/
    .contenedorMERCH{
        justify-items:$alineacion-texto;
    }
    .ImagenesMerch{
        width: 478px;
    }

    /*REGISTROS*/
    .form{
        width: 80%;
    }
    .FondoRegistro{
        background-color: $color-negro;
    }
}